In [87]:
import pandas as pd

In [88]:
df_customers      = pd.read_csv('./../dataset/olist_customers_dataset.csv')
df_geolocation    = pd.read_csv('./../dataset/olist_geolocation_dataset.csv')
df_order_item     = pd.read_csv('./../dataset/olist_order_items_dataset.csv')
df_order_payments = pd.read_csv('./../dataset/olist_order_payments_dataset.csv')
df_order_reviews  = pd.read_csv('./../dataset/olist_order_reviews_dataset.csv')
df_orders         = pd.read_csv('./../dataset/olist_orders_dataset.csv')
df_products       = pd.read_csv('./../dataset/olist_products_dataset.csv')
df_sellers        = pd.read_csv('./../dataset/olist_sellers_dataset.csv')

In [89]:
df_orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [90]:
# Filtrando colunas relevantes

df_customers      = df_customers[['customer_id', 'customer_city', 'customer_state']]
df_order_payments = df_order_payments[['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']]
df_order_reviews  = df_order_reviews[['order_id', 'review_score']]
df_orders         = df_orders[['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp','order_delivered_customer_date','order_estimated_delivery_date']]
df_products       = df_products[['product_id', 'product_category_name']]
df_sellers        = df_sellers[['seller_id', 'seller_city', 'seller_state']]

In [91]:
df_final = df_order_item.copy()  # SerÃ¡ que ter mais de um order_item atrapalha no merge???
df_final = df_final.merge(df_order_payments, how='left', on='order_id')
df_final = df_final.merge(df_order_reviews, how='left', on='order_id')
df_final = df_final.merge(df_orders, how='left', on='order_id')
df_final = df_final.merge(df_customers, how='left', on='customer_id')
df_final = df_final.merge(df_products, how='left', on='product_id')
df_final = df_final.merge(df_sellers, how='left', on='seller_id')

In [92]:
df_final

df_final = df_final[['order_id','order_item_id','product_id','customer_id','seller_id','price','freight_value',
                        'payment_value','payment_sequential','payment_type','payment_installments','review_score',
                        'product_category_name','order_status', 'order_purchase_timestamp',
                        'order_delivered_customer_date','order_estimated_delivery_date','customer_city',
                        'customer_state','seller_city','seller_state']]

In [93]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118318 entries, 0 to 118317
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118318 non-null  object
 1   order_item_id                  118318 non-null  int64
 2   product_id                     118318 non-null  object
 3   customer_id                    118318 non-null  object
 4   seller_id                      118318 non-null  object
 5   price                          118318 non-null  float64
 6   freight_value                  118318 non-null  float64
 7   payment_value                  118315 non-null  float64
 8   payment_sequential             118315 non-null  float64
 9   payment_type                   118315 non-null  object
 10  payment_installments           118315 non-null  float64
 11  review_score                   118318 non-null  int64
 12  product_category_name          116609 non-null  object
 13  order_status                   118318 non-null  object
 14  order_purchase_timestamp       118318 non-null  object
 15  order_delivered_customer_date  115730 non-null  object
 16  order_estimated_delivery_date  118318 non-null  object
 17  customer_city                  118318 non-null  object
 18  customer_state                 118318 non-null  object
 19  seller_city                    118318 non-null  object
 20  seller_state                   118318 non-null  object
dtypes: float64(5), int64(2), object(14)
memory usage: 19.9+ MB

In [94]:
# 3 casos problemÃ¡ticos, a serem resolvidos!
df_final[df_final['payment_value'].isnull()]

,order_id,order_item_id,product_id,customer_id,seller_id,price,freight_value,payment_value,payment_sequential,payment_type,...,review_score,product_category_name,order_status,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date,customer_city,customer_state,seller_city,seller_state
88643,bfbd0f9bdef84302105ad712db648a6c,1,5a6b04657a4c5ee34285d1e4619a96b4,86dc2ffce2dfff336de2f386a786e574,ecccfa2bb93b34a3bf033cc5d1dcdc69,44.99,2.83,NaN,NaN,NaN,...,1,beleza_saude,delivered,2016-09-15 12:16:38,2016-11-09 07:47:38,2016-10-04 00:00:00,sao joaquim da barra,SP,curitiba,PR
88644,bfbd0f9bdef84302105ad712db648a6c,2,5a6b04657a4c5ee34285d1e4619a96b4,86dc2ffce2dfff336de2f386a786e574,ecccfa2bb93b34a3bf033cc5d1dcdc69,44.99,2.83,NaN,NaN,NaN,...,1,beleza_saude,delivered,2016-09-15 12:16:38,2016-11-09 07:47:38,2016-10-04 00:00:00,sao joaquim da barra,SP,curitiba,PR
88645,bfbd0f9bdef84302105ad712db648a6c,3,5a6b04657a4c5ee34285d1e4619a96b4,86dc2ffce2dfff336de2f386a786e574,ecccfa2bb93b34a3bf033cc5d1dcdc69,44.99,2.83,NaN,NaN,NaN,...,1,beleza_saude,delivered,2016-09-15 12:16:38,2016-11-09 07:47:38,2016-10-04 00:00:00,sao joaquim da barra,SP,curitiba,PR

In [95]:
df_final_without_nan = df_final[~(df_final['payment_value'].isnull())]# & ~(df_final['product_category_name'].isnull())]
df_final_without_nan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118315 entries, 0 to 118317
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118315 non-null  object
 1   order_item_id                  118315 non-null  int64
 2   product_id                     118315 non-null  object
 3   customer_id                    118315 non-null  object
 4   seller_id                      118315 non-null  object
 5   price                          118315 non-null  float64
 6   freight_value                  118315 non-null  float64
 7   payment_value                  118315 non-null  float64
 8   payment_sequential             118315 non-null  float64
 9   payment_type                   118315 non-null  object
 10  payment_installments           118315 non-null  float64
 11  review_score                   118315 non-null  int64
 12  product_category_name          116606 non-null  object
 13  order_status                   118315 non-null  object
 14  order_purchase_timestamp       118315 non-null  object
 15  order_delivered_customer_date  115727 non-null  object
 16  order_estimated_delivery_date  118315 non-null  object
 17  customer_city                  118315 non-null  object
 18  customer_state                 118315 non-null  object
 19  seller_city                    118315 non-null  object
 20  seller_state                   118315 non-null  object
dtypes: float64(5), int64(2), object(14)
memory usage: 19.9+ MB

In [96]:
df_final_without_nan

,order_id,order_item_id,product_id,customer_id,seller_id,price,freight_value,payment_value,payment_sequential,payment_type,...,review_score,product_category_name,order_status,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date,customer_city,customer_state,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,3ce436f183e68e07877b285a838db11a,48436dade18ac8b2bce089ec2a041202,58.90,13.29,72.19,1.0,credit_card,...,5,cool_stuff,delivered,2017-09-13 08:59:02,2017-09-20 23:43:48,2017-09-29 00:00:00,campos dos goytacazes,RJ,volta redonda,SP
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,f6dd3ec061db4e3987629fe6b26e5cce,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,259.83,1.0,credit_card,...,4,pet_shop,delivered,2017-04-26 10:53:06,2017-05-12 16:04:24,2017-05-15 00:00:00,santa fe do sul,SP,sao paulo,SP
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,6489ae5e4333f3693df5ad4372dab6d3,5b51032eddd242adc84c38acab88f23d,199.00,17.87,216.87,1.0,credit_card,...,5,moveis_decoracao,delivered,2018-01-14 14:33:31,2018-01-22 13:19:16,2018-02-05 00:00:00,para de minas,MG,borda da mata,MG
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,d4eb9395c8c0431ee92fce09860c5a06,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,25.78,1.0,credit_card,...,4,perfumaria,delivered,2018-08-08 10:00:35,2018-08-14 13:32:39,2018-08-20 00:00:00,atibaia,SP,franca,SP
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,58dbd0b2d70206bf40e62cd34e84d795,df560393f3a51e74553ab94004ba5c87,199.90,18.14,218.04,1.0,credit_card,...,5,ferramentas_jardim,delivered,2017-02-04 13:57:51,2017-03-01 16:42:31,2017-03-17 00:00:00,varzea paulista,SP,loanda,PR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118313,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b51593916b4b8e0d6f66f2ae24f2673d,b8bc237ba3788b23da09c0f1f3a3288c,299.99,43.41,343.40,1.0,boleto,...,5,utilidades_domesticas,delivered,2018-04-23 13:57:06,2018-05-10 22:56:40,2018-05-18 00:00:00,sao luis,MA,itajai,SC
118314,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,84c5d4fbaf120aae381fad077416eaa0,f3c38ab652836d21de61fb8314b69182,350.00,36.53,386.53,1.0,boleto,...,5,informatica_acessorios,delivered,2018-07-14 10:26:46,2018-07-23 20:31:55,2018-08-01 00:00:00,curitiba,PR,sao paulo,SP
118315,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,29309aa813182aaddc9b259e31b870e6,c3cfdc648177fdbbbb35635a37472c53,99.90,16.95,116.85,1.0,credit_card,...,5,esporte_lazer,delivered,2017-10-23 17:07:56,2017-10-28 12:22:22,2017-11-10 00:00:00,sao paulo,SP,curitiba,PR
118316,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,b5e6afd5a41800fdf401e0272ca74655,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72,64.71,1.0,credit_card,...,5,informatica_acessorios,delivered,2017-08-14 23:02:59,2017-08-16 21:59:40,2017-08-25 00:00:00,vinhedo,SP,sao paulo,SP
118317,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,96d649da0cc4ff33bb408b199d4c7dcf,f7ccf836d21b2fb1de37564105216cc1,43.00,12.79,55.79,1.0,credit_card,...,5,cama_mesa_banho,delivered,2018-06-09 17:00:18,2018-06-14 17:56:26,2018-06-28 00:00:00,botucatu,SP,ibitinga,SP

In [97]:
# Os valores sem categoria sÃ£o 610 valores distintos, como esperado se virmos o que hÃ¡ de nulos distintos
# sem categorizaÃ§Ã£o na tabela de produtos de onde essa informaÃ§Ã£o veio!

df_final[df_final['product_category_name'].isnull()]['product_id'].nunique()

610

In [98]:
df_final[df_final['product_category_name'].isnull()]

,order_id,order_item_id,product_id,customer_id,seller_id,price,freight_value,payment_value,payment_sequential,payment_type,...,review_score,product_category_name,order_status,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date,customer_city,customer_state,seller_city,seller_state
126,0046e1d57f4c07c8c92ab26be8c3dfc0,1,ff6caf9340512b8bf6d2a2a6df032cfa,ae55e228ded796581eccc67045516023,38e6dada03429a47197d5d584d793b41,7.79,7.78,15.57,1.0,credit_card,...,5,NaN,delivered,2017-09-26 15:24:03,2017-09-29 18:29:50,2017-10-11 00:00:00,sao paulo,SP,sao paulo,SP
128,00482f2670787292280e0a8153d82467,1,a9c404971d1a5b1cbc2e4070e02731fd,baa4ed05f22ffb6c4a41b71b699a492c,702835e4b785b67a084280efca355756,7.60,10.96,18.56,1.0,boleto,...,5,NaN,delivered,2017-02-13 16:18:07,2017-02-15 11:35:56,2017-03-10 00:00:00,juiz de fora,MG,juiz de fora,MG
135,004f5d8f238e8908e6864b874eda3391,1,5a848e4ab52fd5445cdc07aab1c40e48,a69c820c317aa348d781a9d6732afc23,c826c40d7b19f62a09e2d7c5e7295ee2,122.99,15.61,138.60,1.0,boleto,...,3,NaN,delivered,2018-02-27 12:16:30,2018-03-23 00:52:43,2018-03-21 00:00:00,corumba,MS,guarulhos,SP
145,0057199db02d1a5ef41bacbf41f8f63b,1,41eee23c25f7a574dfaf8d5c151dbb12,c664dc5de5b5f4184bc4ca0285b9f8fe,e5a3438891c0bfdb9394643f95273d8e,20.30,16.79,37.09,1.0,boleto,...,4,NaN,delivered,2018-01-18 17:05:30,2018-02-06 20:07:20,2018-02-20 00:00:00,sinop,MT,limeira,SP
174,006cb7cafc99b29548d4f412c7f9f493,1,e10758160da97891c2fdcbc35f0f031d,97dc92f1aae3a7db8b252d1b8466910e,323ce52b5b81df2cd804b017b7f09aa7,56.00,14.14,70.14,1.0,credit_card,...,5,NaN,delivered,2018-02-17 14:22:34,2018-02-25 13:46:52,2018-03-13 00:00:00,brasilia,DF,sao paulo,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117964,ff24fec69b7f3d30f9dc1ab3aee7c179,1,5a848e4ab52fd5445cdc07aab1c40e48,442c6e15fe1e8e63a96598607c92bc35,c826c40d7b19f62a09e2d7c5e7295ee2,122.99,15.61,138.60,1.0,boleto,...,4,NaN,delivered,2018-01-26 14:41:14,2018-02-07 14:57:00,2018-02-22 00:00:00,jaragua do sul,SC,guarulhos,SP
117991,ff3024474be86400847879103757d1fd,1,f9b1795281ce51b1cf39ef6d101ae8ab,945c975073e57fe39a636afbf6689bcc,3771c85bac139d2344864ede5d9341e3,39.90,9.94,49.84,1.0,boleto,...,3,NaN,delivered,2017-11-11 15:18:16,2017-11-28 18:00:22,2017-11-27 00:00:00,campinas,SP,sorocaba,SP
118008,ff3a45ee744a7c1f8096d2e72c1a23e4,1,b61d1388a17e3f547d2bc218df02335b,bb308532dc44f5973cd2caf17d15bd8c,07017df32dc5f2f1d2801e579548d620,139.00,21.42,160.42,1.0,credit_card,...,5,NaN,delivered,2017-05-03 07:08:50,2017-05-15 10:13:46,2017-06-05 00:00:00,volta redonda,RJ,joao pessoa,PB
118098,ff7b636282b98e0aa524264b295ed928,1,431df35e52c10451171d8037482eeb43,eb09a9c966e7801d1ab6ccb15baa96ef,6cd68b3ed6d59aaa9fece558ad360c0a,49.90,15.11,65.01,1.0,credit_card,...,5,NaN,delivered,2018-02-17 14:46:29,2018-02-26 21:35:20,2018-03-13 00:00:00,brasilia,DF,belo horizonte,MG
118167,ffa5e4c604dea4f0a59d19cc2322ac19,2,bd421826916d3e1d445cb860cea3c0fb,665fe3b7ab435cda0fad0c3cbb1c51dd,59cd88080b93f3c18508673122d26169,29.99,15.10,90.18,1.0,credit_card,...,5,NaN,delivered,2017-12-04 21:45:30,2018-01-03 18:53:16,2018-01-02 00:00:00,goiania,GO,praia grande,SP