# Regressor - Ecommerce

## Data Input

In [1]:
import pandas as pd

In [2]:
df_customers      = pd.read_csv('./../../../dataset/olist_customers_dataset.csv')
df_geolocation    = pd.read_csv('./../../../dataset/olist_geolocation_dataset.csv')
df_order_item     = pd.read_csv('./../../../dataset/olist_order_items_dataset.csv')
df_order_payments = pd.read_csv('./../../../dataset/olist_order_payments_dataset.csv')
df_order_reviews  = pd.read_csv('./../../../dataset/olist_order_reviews_dataset.csv')
df_orders         = pd.read_csv('./../../../dataset/olist_orders_dataset.csv')
df_products       = pd.read_csv('./../../../dataset/olist_products_dataset.csv')
df_sellers        = pd.read_csv('./../../../dataset/olist_sellers_dataset.csv')

## Data Study

In [3]:
df_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [4]:
df_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [5]:
df_order_item.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [6]:
df_order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [7]:
df_order_reviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [8]:
df_orders.head()


df_orders['customer_id'].nunique()

99441

In [9]:
df_products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [10]:
df_sellers

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

In [11]:
df_orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

## Data Preprocessing

### Processamento dos dados

In [12]:
# Filtrando colunas relevantes em cada dataframe

df_customers      = df_customers[['customer_id', 'customer_city', 'customer_state']]
df_order_payments = df_order_payments[['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']]
df_order_reviews  = df_order_reviews[['order_id', 'review_score']]
df_orders         = df_orders[['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp','order_delivered_customer_date','order_estimated_delivery_date']]
df_products       = df_products[['product_id', 'product_category_name']]
df_sellers        = df_sellers[['seller_id', 'seller_city', 'seller_state']]

In [13]:
# Unindo todas as features em um único dataset

df_merged = df_order_item.copy()  # Será que ter mais de um order_item atrapalha no merge???
df_merged = df_merged.merge(df_order_payments, how='left', on='order_id')
df_merged = df_merged.merge(df_order_reviews, how='left', on='order_id')
df_merged = df_merged.merge(df_orders, how='left', on='order_id')
df_merged = df_merged.merge(df_customers, how='left', on='customer_id')
df_merged = df_merged.merge(df_products, how='left', on='product_id')
df_merged = df_merged.merge(df_sellers, how='left', on='seller_id')

In [14]:
# Colunas mais relevantes, que podem vir a ter alguma info útil para o modelo
df_merged = df_merged[['order_id','order_item_id','product_id','customer_id','seller_id','price','freight_value',
                        'payment_value','payment_sequential','payment_type','payment_installments','review_score',
                        'product_category_name','order_status', 'order_purchase_timestamp',
                        'order_delivered_customer_date','order_estimated_delivery_date','customer_city',
                        'customer_state','seller_city','seller_state']]


# Segurança: Tirar duplicatas após tantos merges!
df_merged = df_merged.drop_duplicates()

In [15]:
# Há linha sem preço ou sem frete?
df_merged[df_merged['price'].isnull() | df_merged['freight_value'].isnull()]

Empty DataFrame
Columns: [order_id, order_item_id, product_id, customer_id, seller_id, price, freight_value, payment_value, payment_sequential, payment_type, payment_installments, review_score, product_category_name, order_status, order_purchase_timestamp, order_delivered_customer_date, order_estimated_delivery_date, customer_city, customer_state, seller_city, seller_state]
Index: []

[0 rows x 21 columns]

In [16]:
# Removendo colunas com pagamento nulo ou com 
df_final = df_merged[~(df_merged['product_category_name'].isnull())]
df_final = df_final[~df_final['payment_value'].isnull()]
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116192 entries, 0 to 118317
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       116192 non-null  object
 1   order_item_id                  116192 non-null  int64
 2   product_id                     116192 non-null  object
 3   customer_id                    116192 non-null  object
 4   seller_id                      116192 non-null  object
 5   price                          116192 non-null  float64
 6   freight_value                  116192 non-null  float64
 7   payment_value                  116192 non-null  float64
 8   payment_sequential             116192 non-null  float64
 9   payment_type                   116192 non-null  object
 10  payment_installments           116192 non-null  float64
 11  review_score                   116192 non-null  int64
 12  product_category_name          116192 non-null  object
 13  order_status                   116192 non-null  object
 14  order_purchase_timestamp       116192 non-null  object
 15  order_delivered_customer_date  113683 non-null  object
 16  order_estimated_delivery_date  116192 non-null  object
 17  customer_city                  116192 non-null  object
 18  customer_state                 116192 non-null  object
 19  seller_city                    116192 non-null  object
 20  seller_state                   116192 non-null  object
dtypes: float64(5), int64(2), object(14)
memory usage: 19.5+ MB

In [17]:
# Colunas tidas como desnecessárias: notar que price + freight_value engloba payment_value
df_final = df_final.drop(columns=['payment_value', 'payment_sequential', 'order_delivered_customer_date',
                                  'order_estimated_delivery_date'])

In [18]:
# Removendo pedidos não concretizados
df_final = df_final[~df_final['order_status'].isin(['canceled', 'invoiced', 'unavailable'])]

In [19]:
# Há correlações relevantes entre as variáveis categóricas!
df_final[['price', 'freight_value', 'payment_installments']].corr()

                         price  freight_value  payment_installments
price                 1.000000       0.415908              0.279009
freight_value         0.415908       1.000000              0.185909
payment_installments  0.279009       0.185909              1.000000

In [20]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115269 entries, 0 to 118317
Data columns (total 17 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   order_id                  115269 non-null  object
 1   order_item_id             115269 non-null  int64
 2   product_id                115269 non-null  object
 3   customer_id               115269 non-null  object
 4   seller_id                 115269 non-null  object
 5   price                     115269 non-null  float64
 6   freight_value             115269 non-null  float64
 7   payment_type              115269 non-null  object
 8   payment_installments      115269 non-null  float64
 9   review_score              115269 non-null  int64
 10  product_category_name     115269 non-null  object
 11  order_status              115269 non-null  object
 12  order_purchase_timestamp  115269 non-null  object
 13  customer_city             115269 non-null  object
 14  customer_state            115269 non-null  object
 15  seller_city               115269 non-null  object
 16  seller_state              115269 non-null  object
dtypes: float64(3), int64(2), object(12)
memory usage: 15.8+ MB

# Funções auxiliares

In [21]:
def get_dummies(df):
    oh_payment_type          = pd.get_dummies(df['payment_type'])
    oh_payment_installments  = pd.get_dummies(df['payment_installments'])
    oh_product_category_name = pd.get_dummies(df['product_category_name']).fillna(0)
    oh_customer_city         = pd.get_dummies(df['customer_city'])
    oh_customer_state        = pd.get_dummies(df['customer_state'])
    oh_seller_city           = pd.get_dummies(df['seller_city'])
    oh_seller_state          = pd.get_dummies(df['seller_state'])

    df_out = df[['price', 'freight_value', 'review_score', 'order_purchase_timestamp']].join(oh_payment_type)
    df_out = df_out.join(oh_payment_installments)
    df_out = df_out.join(oh_product_category_name)
    df_out = df_out.join(oh_customer_city,lsuffix='_left_customer', rsuffix='_right_customer')
    df_out = df_out.join(oh_customer_state,lsuffix='_left_customer', rsuffix='_right_customer')
    df_out = df_out.join(oh_seller_city,lsuffix='_left_seller', rsuffix='_right_seller')
    df_out = df_out.join(oh_seller_state,lsuffix='_left_seller', rsuffix='_right_seller')

    return df_out

In [26]:
def split_train_test_year(df):
    df_train = df[df['order_purchase_timestamp'].str.contains('2018')].drop(columns=['order_purchase_timestamp'])
    X_train = df_train.drop(columns=['price'])
    Y_train = df_train[['price']]

    df_test = df_final_3[~df_final_3['order_purchase_timestamp'].str.contains('2018')].drop(columns=['order_purchase_timestamp'])
    X_test = df_test.drop(columns=['price'])
    Y_test = df_test[['price']]

    return (X_train, X_test, Y_train, Y_test)

In [30]:
def split_train_test_normal(df):
    X = df.drop(columns=['price', 'order_purchase_timestamp'])
    Y = df['price'].values.ravel()
    
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state=42)
    
    return (X_train, X_test, Y_train, Y_test)

In [27]:
def get_independent_states(df):
    df_list = []
    
    uf_list = ['AC', 'AM', 'AP', 'MA', 'PA', 'PI', 'RO', 'RR', 'TO', 'AL', 'BA', 'CE', 'PB', 'PE', 'RN', 
               'SE', 'DF', 'GO', 'MS', 'MT', 'MG', 'ES', 'RJ', 'RS', 'SP', 'SC', 'PR']
    
    for i in range(0,len(uf_list)):
        df_list.append(df[df['customer_city'] == uf_list[i]])
    
    return df_list

In [28]:
def get_states(df):
    
    df_list = []
    
    # N
    df_list.append(df[
                        (df['customer_city'] == 'AC') |
                        (df['customer_city'] == 'AM') |
                        (df['customer_city'] == 'AP') |
                        (df['customer_city'] == 'MA') |
                        (df['customer_city'] == 'PA') |
                        (df['customer_city'] == 'PI') |
                        (df['customer_city'] == 'RO') |
                        (df['customer_city'] == 'RR') |
                        (df['customer_city'] == 'TO')
                     ]
                   )
  
    # NE
    df_list.append(df[
                        (df['customer_city'] == 'AL') |
                        (df['customer_city'] == 'BA') |
                        (df['customer_city'] == 'CE') |
                        (df['customer_city'] == 'PB') |
                        (df['customer_city'] == 'PE') |
                        (df['customer_city'] == 'RN') |
                        (df['customer_city'] == 'SE')
                     ]
                   )

    # CO
    df_list.append(df[
                        (df['customer_city'] == 'DF') |
                        (df['customer_city'] == 'GO') |
                        (df['customer_city'] == 'MS') |
                        (df['customer_city'] == 'MT')
                     ]
                   )

    # MG-ES
    df_list.append(df[
                        (df['customer_city'] == 'MG') |
                        (df['customer_city'] == 'ES')
                     ]
                   )
    
    df_list.append(df[df['customer_city'] == 'RJ'])
    df_list.append(df[df['customer_city'] == 'SP'])
    df_list.append(df[df['customer_city'] == 'RS'])
    df_list.append(df[df['customer_city'] == 'SC'])
    df_list.append(df[df['customer_city'] == 'PR'])

    return df_list

In [29]:
def get_product_categories(df):
    df_exclusion = ['artes_e_artesanato', 'artigos_de_festas', 'casa_conforto_2', 'cds_dvds_musicais', 
                    'cine_foto', 'dvds_blu_ray', 'fashion_esporte', 'fashion_roupa_feminina',
                    'fashion_roupa_infanto_juvenil', 'flores', 'fraldas_higiene', 'la_cuisine',
                    'livros_importados', 'moveis_colchao_e_estofado', 'musica', 'pc_gamer',
                    'portateis_casa_forno_e_cafe', 'portateis_cozinha_e_preparadores_de_alimentos', 
                    'seguros_e_servicos', 'tablets_impressao_imagem']
    
    df_out = df[~df['product_category_name'].isin(df_exclusion)]

    return df_out

In [39]:
def get_independent_categories(df):
    df_list = []
    df_valid = get_product_categories(df)
    
    for product in df_valid['product_category_name'].unique():
        df_list.append(df_valid[df_valid['product_category_name'] == product])
        
        
    return df_list

# Algoritmos

In [22]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

### Árvore de Regressão - by year

##### Dataset normal

In [43]:
df_tree = get_dummies(df_final)

In [44]:
X_train, X_test, Y_train, Y_test = split_train_test_year(df_tree)

In [45]:
tree_reg = DecisionTreeRegressor(max_depth=15, random_state=42)
tree_reg.fit(X_train, Y_train)
Y_pred = tree_reg.predict(X_test)

In [46]:
mean_squared_error(Y_test, Y_pred)

26266.09902778076

In [47]:
r2_score(Y_test, Y_pred)

0.23069981909099202

##### Dataset States - não agrupados

In [ ]:
df_states_list = get_independent_states(df_final)

In [ ]:
Y_pred_list = []
Y_test_list = []
rmse_list   = []
r2_list     = []

for df in df_states_list:
    df = get_dummies(df)
    X_train, X_test, Y_train, Y_test = split_train_test_year(df)
    reg = DecisionTreeRegressor(max_depth=15, random_state=42)
    reg.fit(X_train, Y_train)
    Y_pred = reg.predict(X_test)

    Y_pred_list.append(Y_pred)
    Y_test_list.append(Y_test)
    rmse_list.append(mean_squared_error(Y_train, Y_pred))
    r2_list.append(r2_score(Y_test, Y_pred))

##### Dataset States - agrupados

In [43]:
df_states_list = get_states(df_final)

In [41]:
Y_pred_list = []
Y_test_list = []
rmse_list   = []
r2_list     = []

for df in df_states_list:
    df = get_dummies(df)
    X_train, X_test, Y_train, Y_test = split_train_test_year(df)
    reg = DecisionTreeRegressor(max_depth=15, random_state=42)
    reg.fit(X_train, Y_train)
    Y_pred = reg.predict(X_test)

    Y_pred_list.append(Y_pred)
    Y_test_list.append(Y_test)
    rmse_list.append(mean_squared_error(Y_train, Y_pred))
    r2_list.append(r2_score(Y_test, Y_pred))

##### Dataset product categories

In [ ]:
df_cat_list = get_independent_categories(df_final)

In [ ]:
Y_pred_list = []
Y_test_list = []
rmse_list   = []
r2_list     = []

for df in df_states_list:
    df = get_dummies(df)
    X_train, X_test, Y_train, Y_test = split_train_test_year(df)
    reg = DecisionTreeRegressor(max_depth=15, random_state=42)
    reg.fit(X_train, Y_train)
    Y_pred = reg.predict(X_test)

    Y_pred_list.append(Y_pred)
    Y_test_list.append(Y_test)
    rmse_list.append(mean_squared_error(Y_train, Y_pred))
    r2_list.append(r2_score(Y_test, Y_pred))

### Árvore de Regressão - train test split

##### Dataset normal

In [23]:
df_tree = get_dummies(df_final)

In [31]:
X_train, X_test, Y_train, Y_test = split_train_test_normal(df_tree)

In [32]:
tree_reg = DecisionTreeRegressor(max_depth=15, random_state=42)
tree_reg.fit(X_train, Y_train)
Y_pred = tree_reg.predict(X_test)

In [33]:
mean_squared_error(Y_test, Y_pred)

20782.802018860028

In [34]:
r2_score(Y_test, Y_pred)

0.29811653486114287

##### Dataset States - não agrupados

In [ ]:
df_states_list = get_independent_states(df_final)

In [ ]:
Y_pred_list = []
Y_test_list = []
rmse_list   = []
r2_list     = []

for df in df_states_list:
    
    df = get_dummies(df)
    
    X = df.drop(columns=['price'])
    Y = df['price'].values.ravel()
    X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)
    
    
    X_train, X_test, Y_train, Y_test = split_train_test_year(df)
    reg = DecisionTreeRegressor(max_depth=15, random_state=42)
    reg.fit(X_train, Y_train)
    Y_pred = reg.predict(X_test)

    Y_pred_list.append(Y_pred)
    Y_test_list.append(Y_test)
    rmse_list.append(mean_squared_error(Y_train, Y_pred))
    r2_list.append(r2_score(Y_test, Y_pred))

##### Dataset States - agrupados

In [43]:
df_states_list = get_states(df_final)

In [41]:
Y_pred_list = []
Y_test_list = []
rmse_list   = []
r2_list     = []

for df in df_states_list:
    
    df = get_dummies(df)
    
    X = df.drop(columns=['price'])
    Y = df['price'].values.ravel()
    X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)
    
    
    reg = DecisionTreeRegressor(max_depth=15, random_state=42)
    reg.fit(X_train, Y_train)
    Y_pred = reg.predict(X_test)

    Y_pred_list.append(Y_pred)
    Y_test_list.append(Y_test)
    rmse_list.append(mean_squared_error(Y_train, Y_pred))
    r2_list.append(r2_score(Y_test, Y_pred))

##### Dataset product categories

In [ ]:
df_cat_list = get_independent_categories(df_final)

In [ ]:
Y_pred_list = []
Y_test_list = []
rmse_list   = []
r2_list     = []

for df in df_states_list:
    df = get_dummies(df)
    
    X = df.drop(columns=['price'])
    Y = df['price'].values.ravel()
    X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)
    
    reg = DecisionTreeRegressor(max_depth=15, random_state=42)
    reg.fit(X_train, Y_train)
    Y_pred = reg.predict(X_test)

    Y_pred_list.append(Y_pred)
    Y_test_list.append(Y_test)
    rmse_list.append(mean_squared_error(Y_train, Y_pred))
    r2_list.append(r2_score(Y_test, Y_pred))

### Random Forest - by year

##### Dataset normal

In [48]:
random_tree = get_dummies(df_final)

In [49]:
X_train, X_test, Y_train, Y_test = split_train_test_year(random_tree)

In [50]:
random_forest = RandomForestRegressor(max_depth=15, random_state=42)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)

/home/seiji/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [51]:
mean_squared_error(Y_test, Y_pred)

23846.57948218627

In [52]:
r2_score(Y_test, Y_pred)

0.3015644275800581

##### Dataset States - não agrupados

In [ ]:
df_states_list = get_independent_states(df_final)

In [ ]:
Y_pred_list = []
Y_test_list = []
rmse_list   = []
r2_list     = []

for df in df_states_list:
    df = get_dummies(df)
    X_train, X_test, Y_train, Y_test = split_train_test_year(df)
    reg = RandomForestRegressor(max_depth=15, random_state=42)
    reg.fit(X_train, Y_train)
    Y_pred = reg.predict(X_test)

    Y_pred_list.append(Y_pred)
    Y_test_list.append(Y_test)
    rmse_list.append(mean_squared_error(Y_train, Y_pred))
    r2_list.append(r2_score(Y_test, Y_pred))

##### Dataset States - agrupados

In [43]:
df_states_list = get_states(df_final)

In [41]:
Y_pred_list = []
Y_test_list = []
rmse_list   = []
r2_list     = []

for df in df_states_list:
    df = get_dummies(df)
    X_train, X_test, Y_train, Y_test = split_train_test_year(df)
    reg = RandomForestRegressor(max_depth=15, random_state=42)
    reg.fit(X_train, Y_train)
    Y_pred = reg.predict(X_test)

    Y_pred_list.append(Y_pred)
    Y_test_list.append(Y_test)
    rmse_list.append(mean_squared_error(Y_train, Y_pred))
    r2_list.append(r2_score(Y_test, Y_pred))

##### Dataset product categories

In [ ]:
df_cat_list = get_independent_categories(df_final)

In [ ]:
Y_pred_list = []
Y_test_list = []
rmse_list   = []
r2_list     = []

for df in df_states_list:
    df = get_dummies(df)
    X_train, X_test, Y_train, Y_test = split_train_test_year(df)
    reg = RandomForestRegressor(max_depth=15, random_state=42)
    reg.fit(X_train, Y_train)
    Y_pred = reg.predict(X_test)

    Y_pred_list.append(Y_pred)
    Y_test_list.append(Y_test)
    rmse_list.append(mean_squared_error(Y_train, Y_pred))
    r2_list.append(r2_score(Y_test, Y_pred))

### Random Forest - train test split

##### Dataset normal

In [35]:
df_random = get_dummies(df_final)

In [36]:
X_train, X_test, Y_train, Y_test = split_train_test_normal(df_random)

In [37]:
tree_reg = RandomForestRegressor(max_depth=15, random_state=42)
tree_reg.fit(X_train, Y_train)
Y_pred = tree_reg.predict(X_test)

In [38]:
mean_squared_error(Y_test, Y_pred)

16819.972108086487

In [39]:
r2_score(Y_test, Y_pred)

0.43195049945386366

##### Dataset States - não agrupados

In [ ]:
df_states_list = get_independent_states(df_final)

In [ ]:
Y_pred_list = []
Y_test_list = []
rmse_list   = []
r2_list     = []

for df in df_states_list:
    df = get_dummies(df)
    X_train, X_test, Y_train, Y_test = split_train_test_year(df)
    reg = RandomForestRegressor(max_depth=15, random_state=42)
    reg.fit(X_train, Y_train)
    Y_pred = reg.predict(X_test)

    Y_pred_list.append(Y_pred)
    Y_test_list.append(Y_test)
    rmse_list.append(mean_squared_error(Y_train, Y_pred))
    r2_list.append(r2_score(Y_test, Y_pred))

##### Dataset States - agrupados

In [43]:
df_states_list = get_states(df_final)

In [41]:
Y_pred_list = []
Y_test_list = []
rmse_list   = []
r2_list     = []

for df in df_states_list:
    df = get_dummies(df)
    X_train, X_test, Y_train, Y_test = split_train_test_year(df)
    reg = RandomForestRegressor(max_depth=15, random_state=42)
    reg.fit(X_train, Y_train)
    Y_pred = reg.predict(X_test)

    Y_pred_list.append(Y_pred)
    Y_test_list.append(Y_test)
    rmse_list.append(mean_squared_error(Y_train, Y_pred))
    r2_list.append(r2_score(Y_test, Y_pred))

##### Dataset product categories

In [ ]:
df_cat_list = get_independent_categories(df_final)

In [ ]:
Y_pred_list = []
Y_test_list = []
rmse_list   = []
r2_list     = []

for df in df_states_list:
    df = get_dummies(df)
    X_train, X_test, Y_train, Y_test = split_train_test_year(df)
    reg = RandomForestRegressor(max_depth=15, random_state=42)
    reg.fit(X_train, Y_train)
    Y_pred = reg.predict(X_test)

    Y_pred_list.append(Y_pred)
    Y_test_list.append(Y_test)
    rmse_list.append(mean_squared_error(Y_train, Y_pred))
    r2_list.append(r2_score(Y_test, Y_pred))

### SVM

##### Dataset normal

In [43]:
df_tree = get_dummies(df_final)

In [44]:
X_train, X_test, Y_train, Y_test = split_train_test_year(df_tree)

In [45]:
tree_reg = SVR(max_depth=15, random_state=42)
tree_reg.fit(X_train, Y_train)
Y_pred = tree_reg.predict(X_test)

In [46]:
mean_squared_error(Y_test, Y_pred)

26266.09902778076

In [47]:
r2_score(Y_test, Y_pred)

0.23069981909099202

##### Dataset States - não agrupados

In [ ]:
df_states_list = get_independent_states(df_final)

In [ ]:
Y_pred_list = []
Y_test_list = []
rmse_list   = []
r2_list     = []

for df in df_states_list:
    df = get_dummies(df)
    X_train, X_test, Y_train, Y_test = split_train_test_year(df)
    reg = SVR(max_depth=15, random_state=42)
    reg.fit(X_train, Y_train)
    Y_pred = reg.predict(X_test)

    Y_pred_list.append(Y_pred)
    Y_test_list.append(Y_test)
    rmse_list.append(mean_squared_error(Y_train, Y_pred))
    r2_list.append(r2_score(Y_test, Y_pred))

##### Dataset States - agrupados

In [43]:
df_states_list = get_states(df_final)

In [41]:
Y_pred_list = []
Y_test_list = []
rmse_list   = []
r2_list     = []

for df in df_states_list:
    df = get_dummies(df)
    X_train, X_test, Y_train, Y_test = split_train_test_year(df)
    reg = SVR(max_depth=15, random_state=42)
    reg.fit(X_train, Y_train)
    Y_pred = reg.predict(X_test)

    Y_pred_list.append(Y_pred)
    Y_test_list.append(Y_test)
    rmse_list.append(mean_squared_error(Y_train, Y_pred))
    r2_list.append(r2_score(Y_test, Y_pred))

##### Dataset product categories

In [ ]:
df_cat_list = get_independent_categories(df_final)

In [ ]:
Y_pred_list = []
Y_test_list = []
rmse_list   = []
r2_list     = []

for df in df_states_list:
    df = get_dummies(df)
    X_train, X_test, Y_train, Y_test = split_train_test_year(df)
    reg = SVR(max_depth=15, random_state=42)
    reg.fit(X_train, Y_train)
    Y_pred = reg.predict(X_test)

    Y_pred_list.append(Y_pred)
    Y_test_list.append(Y_test)
    rmse_list.append(mean_squared_error(Y_train, Y_pred))
    r2_list.append(r2_score(Y_test, Y_pred))

### Testagem de Algoritmos - Grid Search

### Árvore de regressão

In [ ]:
# Grid Search
param_grid = [{'max_depth': [5,10,15,20], 
               'splitter': ['best', 'random'],
               'criterion': ['mse', 'friedman_mse', 'mae']
               }
             ]

clf = GridSearchCV(DecisionTreeRegressor(), param_grid)
clf.fit(X_train, Y_train)

In [ ]:
clf.best_params_

### Random Forest

In [ ]:
param_grid = [{'max_depth': [5,10,15,20],
               'criterion': ['mse', 'mae']
              }
             ]

clf = GridSearchCV(RandomForestRegressor(), param_grid)
clf.fit(X_train, Y_train)
Y_test = clf.predict(X_test)

In [ ]:
clf.best_params_

### SVM

In [ ]:
param_grid = [{'max_depth': [5,10,15,20],
               'criterion': ['mse', 'mae']
              }
             ]

clf = GridSearchCV(SVR(), param_grid)
clf.fit(X_train, Y_train)
Y_test = clf.predict(X_test)

In [ ]:
clf.best_params_

### Análise e justificativa dos processamentos feitos acima

In [16]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118318 entries, 0 to 118317
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       118318 non-null  object
 1   order_item_id                  118318 non-null  int64
 2   product_id                     118318 non-null  object
 3   customer_id                    118318 non-null  object
 4   seller_id                      118318 non-null  object
 5   price                          118318 non-null  float64
 6   freight_value                  118318 non-null  float64
 7   payment_value                  118315 non-null  float64
 8   payment_sequential             118315 non-null  float64
 9   payment_type                   118315 non-null  object
 10  payment_installments           118315 non-null  float64
 11  review_score                   118318 non-null  int64
 12  product_category_name          116609 non-null  object
 13  order_status                   118318 non-null  object
 14  order_purchase_timestamp       118318 non-null  object
 15  order_delivered_customer_date  115730 non-null  object
 16  order_estimated_delivery_date  118318 non-null  object
 17  customer_city                  118318 non-null  object
 18  customer_state                 118318 non-null  object
 19  seller_city                    118318 non-null  object
 20  seller_state                   118318 non-null  object
dtypes: float64(5), int64(2), object(14)
memory usage: 19.9+ MB

In [18]:
# 3 casos problemáticos, a serem resolvidos!
df_final[df_final['payment_value'].isnull()]

,order_id,order_item_id,product_id,customer_id,seller_id,price,freight_value,payment_value,payment_sequential,payment_type,...,review_score,product_category_name,order_status,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date,customer_city,customer_state,seller_city,seller_state
88643,bfbd0f9bdef84302105ad712db648a6c,1,5a6b04657a4c5ee34285d1e4619a96b4,86dc2ffce2dfff336de2f386a786e574,ecccfa2bb93b34a3bf033cc5d1dcdc69,44.99,2.83,NaN,NaN,NaN,...,1,beleza_saude,delivered,2016-09-15 12:16:38,2016-11-09 07:47:38,2016-10-04 00:00:00,sao joaquim da barra,SP,curitiba,PR
88644,bfbd0f9bdef84302105ad712db648a6c,2,5a6b04657a4c5ee34285d1e4619a96b4,86dc2ffce2dfff336de2f386a786e574,ecccfa2bb93b34a3bf033cc5d1dcdc69,44.99,2.83,NaN,NaN,NaN,...,1,beleza_saude,delivered,2016-09-15 12:16:38,2016-11-09 07:47:38,2016-10-04 00:00:00,sao joaquim da barra,SP,curitiba,PR
88645,bfbd0f9bdef84302105ad712db648a6c,3,5a6b04657a4c5ee34285d1e4619a96b4,86dc2ffce2dfff336de2f386a786e574,ecccfa2bb93b34a3bf033cc5d1dcdc69,44.99,2.83,NaN,NaN,NaN,...,1,beleza_saude,delivered,2016-09-15 12:16:38,2016-11-09 07:47:38,2016-10-04 00:00:00,sao joaquim da barra,SP,curitiba,PR

In [20]:
DecisionTreeRegressordf_final_without_nan

,order_id,order_item_id,product_id,customer_id,seller_id,price,freight_value,payment_value,payment_sequential,payment_type,...,review_score,product_category_name,order_status,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date,customer_city,customer_state,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,3ce436f183e68e07877b285a838db11a,48436dade18ac8b2bce089ec2a041202,58.90,13.29,72.19,1.0,credit_card,...,5,cool_stuff,delivered,2017-09-13 08:59:02,2017-09-20 23:43:48,2017-09-29 00:00:00,campos dos goytacazes,RJ,volta redonda,SP
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,f6dd3ec061db4e3987629fe6b26e5cce,dd7ddc04e1b6c2c614352b383efe2d36,239.90,19.93,259.83,1.0,credit_card,...,4,pet_shop,delivered,2017-04-26 10:53:06,2017-05-12 16:04:24,2017-05-15 00:00:00,santa fe do sul,SP,sao paulo,SP
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,6489ae5e4333f3693df5ad4372dab6d3,5b51032eddd242adc84c38acab88f23d,199.00,17.87,216.87,1.0,credit_card,...,5,moveis_decoracao,delivered,2018-01-14 14:33:31,2018-01-22 13:19:16,2018-02-05 00:00:00,para de minas,MG,borda da mata,MG
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,d4eb9395c8c0431ee92fce09860c5a06,9d7a1d34a5052409006425275ba1c2b4,12.99,12.79,25.78,1.0,credit_card,...,4,perfumaria,delivered,2018-08-08 10:00:35,2018-08-14 13:32:39,2018-08-20 00:00:00,atibaia,SP,franca,SP
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,58dbd0b2d70206bf40e62cd34e84d795,df560393f3a51e74553ab94004ba5c87,199.90,18.14,218.04,1.0,credit_card,...,5,ferramentas_jardim,delivered,2017-02-04 13:57:51,2017-03-01 16:42:31,2017-03-17 00:00:00,varzea paulista,SP,loanda,PR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118313,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b51593916b4b8e0d6f66f2ae24f2673d,b8bc237ba3788b23da09c0f1f3a3288c,299.99,43.41,343.40,1.0,boleto,...,5,utilidades_domesticas,delivered,2018-04-23 13:57:06,2018-05-10 22:56:40,2018-05-18 00:00:00,sao luis,MA,itajai,SC
118314,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,84c5d4fbaf120aae381fad077416eaa0,f3c38ab652836d21de61fb8314b69182,350.00,36.53,386.53,1.0,boleto,...,5,informatica_acessorios,delivered,2018-07-14 10:26:46,2018-07-23 20:31:55,2018-08-01 00:00:00,curitiba,PR,sao paulo,SP
118315,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,29309aa813182aaddc9b259e31b870e6,c3cfdc648177fdbbbb35635a37472c53,99.90,16.95,116.85,1.0,credit_card,...,5,esporte_lazer,delivered,2017-10-23 17:07:56,2017-10-28 12:22:22,2017-11-10 00:00:00,sao paulo,SP,curitiba,PR
118316,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,b5e6afd5a41800fdf401e0272ca74655,2b3e4a2a3ea8e01938cabda2a3e5cc79,55.99,8.72,64.71,1.0,credit_card,...,5,informatica_acessorios,delivered,2017-08-14 23:02:59,2017-08-16 21:59:40,2017-08-25 00:00:00,vinhedo,SP,sao paulo,SP
118317,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,96d649da0cc4ff33bb408b199d4c7dcf,f7ccf836d21b2fb1de37564105216cc1,43.00,12.79,55.79,1.0,credit_card,...,5,cama_mesa_banho,delivered,2018-06-09 17:00:18,2018-06-14 17:56:26,2018-06-28 00:00:00,botucatu,SP,ibitinga,SP

In [21]:
# Os valores sem categoria são 610 valores distintos, como esperado,  caso comparemos com o que há de nulos 
# distintos sem categorização na tabela de produtos de onde essa informação veio!

df_final[df_final['product_category_name'].isnull()]['product_id'].nunique()

610

In [22]:
df_final[df_final['product_category_name'].isnull()]

,order_id,order_item_id,product_id,customer_id,seller_id,price,freight_value,payment_value,payment_sequential,payment_type,...,review_score,product_category_name,order_status,order_purchase_timestamp,order_delivered_customer_date,order_estimated_delivery_date,customer_city,customer_state,seller_city,seller_state
126,0046e1d57f4c07c8c92ab26be8c3dfc0,1,ff6caf9340512b8bf6d2a2a6df032cfa,ae55e228ded796581eccc67045516023,38e6dada03429a47197d5d584d793b41,7.79,7.78,15.57,1.0,credit_card,...,5,NaN,delivered,2017-09-26 15:24:03,2017-09-29 18:29:50,2017-10-11 00:00:00,sao paulo,SP,sao paulo,SP
128,00482f2670787292280e0a8153d82467,1,a9c404971d1a5b1cbc2e4070e02731fd,baa4ed05f22ffb6c4a41b71b699a492c,702835e4b785b67a084280efca355756,7.60,10.96,18.56,1.0,boleto,...,5,NaN,delivered,2017-02-13 16:18:07,2017-02-15 11:35:56,2017-03-10 00:00:00,juiz de fora,MG,juiz de fora,MG
135,004f5d8f238e8908e6864b874eda3391,1,5a848e4ab52fd5445cdc07aab1c40e48,a69c820c317aa348d781a9d6732afc23,c826c40d7b19f62a09e2d7c5e7295ee2,122.99,15.61,138.60,1.0,boleto,...,3,NaN,delivered,2018-02-27 12:16:30,2018-03-23 00:52:43,2018-03-21 00:00:00,corumba,MS,guarulhos,SP
145,0057199db02d1a5ef41bacbf41f8f63b,1,41eee23c25f7a574dfaf8d5c151dbb12,c664dc5de5b5f4184bc4ca0285b9f8fe,e5a3438891c0bfdb9394643f95273d8e,20.30,16.79,37.09,1.0,boleto,...,4,NaN,delivered,2018-01-18 17:05:30,2018-02-06 20:07:20,2018-02-20 00:00:00,sinop,MT,limeira,SP
174,006cb7cafc99b29548d4f412c7f9f493,1,e10758160da97891c2fdcbc35f0f031d,97dc92f1aae3a7db8b252d1b8466910e,323ce52b5b81df2cd804b017b7f09aa7,56.00,14.14,70.14,1.0,credit_card,...,5,NaN,delivered,2018-02-17 14:22:34,2018-02-25 13:46:52,2018-03-13 00:00:00,brasilia,DF,sao paulo,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117964,ff24fec69b7f3d30f9dc1ab3aee7c179,1,5a848e4ab52fd5445cdc07aab1c40e48,442c6e15fe1e8e63a96598607c92bc35,c826c40d7b19f62a09e2d7c5e7295ee2,122.99,15.61,138.60,1.0,boleto,...,4,NaN,delivered,2018-01-26 14:41:14,2018-02-07 14:57:00,2018-02-22 00:00:00,jaragua do sul,SC,guarulhos,SP
117991,ff3024474be86400847879103757d1fd,1,f9b1795281ce51b1cf39ef6d101ae8ab,945c975073e57fe39a636afbf6689bcc,3771c85bac139d2344864ede5d9341e3,39.90,9.94,49.84,1.0,boleto,...,3,NaN,delivered,2017-11-11 15:18:16,2017-11-28 18:00:22,2017-11-27 00:00:00,campinas,SP,sorocaba,SP
118008,ff3a45ee744a7c1f8096d2e72c1a23e4,1,b61d1388a17e3f547d2bc218df02335b,bb308532dc44f5973cd2caf17d15bd8c,07017df32dc5f2f1d2801e579548d620,139.00,21.42,160.42,1.0,credit_card,...,5,NaN,delivered,2017-05-03 07:08:50,2017-05-15 10:13:46,2017-06-05 00:00:00,volta redonda,RJ,joao pessoa,PB
118098,ff7b636282b98e0aa524264b295ed928,1,431df35e52c10451171d8037482eeb43,eb09a9c966e7801d1ab6ccb15baa96ef,6cd68b3ed6d59aaa9fece558ad360c0a,49.90,15.11,65.01,1.0,credit_card,...,5,NaN,delivered,2018-02-17 14:46:29,2018-02-26 21:35:20,2018-03-13 00:00:00,brasilia,DF,belo horizonte,MG
118167,ffa5e4c604dea4f0a59d19cc2322ac19,2,bd421826916d3e1d445cb860cea3c0fb,665fe3b7ab435cda0fad0c3cbb1c51dd,59cd88080b93f3c18508673122d26169,29.99,15.10,90.18,1.0,credit_card,...,5,NaN,delivered,2017-12-04 21:45:30,2018-01-03 18:53:16,2018-01-02 00:00:00,goiania,GO,praia grande,SP

2         2018-01-14 14:33:31
3         2018-08-08 10:00:35
7         2018-07-04 12:08:27
8         2018-03-19 18:40:33
9         2018-07-02 13:59:39
                 ...
118307    2018-03-30 15:36:49
118312    2018-06-19 09:27:48
118313    2018-04-23 13:57:06
118314    2018-07-14 10:26:46
118317    2018-06-09 17:00:18
Name: order_purchase_timestamp, Length: 63941, dtype: object